* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gilroy";
}

*::selection {
  color: #fff;
  background-color: #000000;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  background-color: #f7f7f7;
}

#nav {
  width: 100%;
  /* background-color: aqua; */
  position: fixed;
  z-index: 99;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 25px;
}

#nav #nav-part2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

#links {
  padding: 10px;
}

#nav-part1 {
  height: 82px;
  overflow: hidden;
}

#nav-part1 svg {
  display: block;
}

#nav-part2 #links a {
  text-transform: uppercase;
  text-decoration: none;
  color: #333;
  font-weight: 500;
  font-size: 14px;
  margin: 0 20px;
}

#nav-part2 #links a:hover {
  display: inline-block;
  position: relative;
  color: #c9c4c4;
}

#nav-part2 #links a:after {
  content: "";
  position: absolute;
  background-color: #171717;
  width: 0;
  height: 1px;
  bottom: -10px;
  left: 0;
  margin-bottom: 10px;
}

#nav-part2 #links a:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
  width: 100%;
  transition: 0.3s;
}

#icons {
  padding: 10px;
  border-radius: 50px;
  background-color: #f7f7f7;
  cursor: pointer;
}

#nav-part2 #icons i {
  font-size: 18px;
  margin: 0 20px;
  font-weight: 100;
}

#cursor {
  height: 180px;
  width: 180px;
  background-color: rgb(193, 191, 191);
  border-radius: 50%;
  position: fixed;
  transform: translate(-50%, -50%) scale(0);
}

#page1 {
  min-height: 100vh;
  position: relative;
  width: 100%;
  padding: 0 1vw;
  padding-top: 30vh;
}

#page1 h1 {
  font-size: 15.8vw;
  text-transform: uppercase;
  font-family: futura;
  line-height: 14vw;
  letter-spacing: -8px;
}

#video-container {
  height: 100vh;
  width: 100%;
  margin-top: 1vw;
  background-color: gray;
  position: relative;
}

#video-container video {
  height: 100%;
  width: 100%;
  object-fit: cover;
  cursor: pointer;
}

#video-container #play {
  padding: 3vw 2.2vw;
  background-color: black;
  color: #fff;
  font-size: 1.3vw;
  position: fixed;
  text-transform: uppercase;
  font-family: futura;
  border-radius: 50%;
  opacity: 0;
  transform: translate(-50%, -50%) scale(0);
}

#hr {
  margin-top: 50px;
  margin-left: 15px;
  margin-right: 15px;
  height: 1px;
  background-color: #030303;
  display: flex;
  justify-content: space-between;
}

#hr i {
  padding: 3px;
  font-size: 13px;
  font-style: normal;
  color: #333;
}

#page2 {
  min-height: 100vh;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  padding: 3vw 1vw;
  justify-content: space-between;
}

#page2 .elem {
  height: 100%;
  width: 31%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

#page2 .elem img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  scale: 1.1;
}

#page2 .elem .dets {
  height: 0;
  overflow: hidden;
  border-radius: 50px;
  width: 70%;
  position: absolute;
  z-index: 9;
  background-color: palegoldenrod;
  transition: height 0.3s ease, opacity 0.3s ease;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left-option,
.right-option {
  font-size: 24px;
  cursor: pointer;
}
.right-option {
  font-size: 40px;
}

#page2 .elem:hover .dets {
  height: 150px;
  opacity: 1;
  cursor: pointer;
  animation-name: fadeIn;
  animation-duration: 0.5s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  color: black;
}

.left-content {
  flex: 2;
  padding-right: 20px;
}

.right-content {
  flex: 1;
  text-align: right;
}

h2 {
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 150px;
  font-family: "Young Serif", serif;
  margin-top: 100px;
}

p {
  font-size: 17px;
  line-height: 1.8;
  text-align: left;
  /*margin-left: 200px;*/
  font-weight: 300;
}

span.go20 {
  display: flex;
  margin-left: 200px;
}

a.go21 {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-weight: bold;
}

a.go21:hover {
  display: inline-block;
  position: relative;
  color: #c9c4c4;
}

a.go21:after {
  content: "";
  position: absolute;
  background-color: #171717;
  width: 0;
  height: 1px;
  bottom: -10px;
  left: 0;
  margin-bottom: 10px;
}

a.go21:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
  width: 100%;
  transition: 0.3s;
}

#page3 {
  min-height: 120vh;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.child {
  height: 54vh;
  width: 38vw;
  /*background-color: red;*/
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.child img {
  height: 100%;
}
.bag {
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  padding: 5px 10px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
}

h5 {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  padding: 5px 10px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
}

#page4 {
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
}

#page4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}

.page4 {
  font-size: 65px;
  font-weight: bold;
  margin-bottom: 20px;
  font-family: "Young Serif", serif;
  margin-top: 400px;
}

.btn {
  background-color: #060606;
  color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  padding: 20px 35px;
  width: 20%;
  text-decoration: none;
  border-radius: 50px;
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 20px;
  cursor: pointer;
}
.btn:hover {
  color: #a4a2a2;
}

.text {
  font-size: 16px;
  line-height: 1.4;
  margin-top: 40px;
  transform: translate(-45%, -50%);
  margin-bottom: 200px;
  margin-left: 200px;
  display: flex;
  text-align: center;
  justify-content: center;
}

#page5 {
  height: 100vh;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  margin-top: 10vw;
  padding: 3vw 5vw;
  justify-content: space-between;
}

#page5 .elems {
  height: 100%;
  width: 30%;
  /*background-color: red;*/
}

#page5 .elems img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  scale: 1.1;
}
.impact {
  font-size: 25.5px;
  line-height: 0.9;
  margin-top: 0px;
  font-family: "Futura Now Headline", "Lucida Sans", Tahoma, sans-serif;
  font-weight: 700;
  margin-bottom: 16px;
}
.para {
  margin-bottom: 32px;
  font-size: 16px;
  letter-spacing: 0.01em;
  font-family: "Helvetica Now Text", "Lucida Sans", Tahoma, sans-serif;
}
.howw {
  font-family: "ABC Social Mono", "Lucida Sans", Tahoma, nonospaced;
  font-weight: 500;
  position: relative;
  padding-bottom: 8px;
  text-transform: uppercase;
  letter-spacing: 0.095em;
  font-size: 12px;
  color: black;
  text-decoration: underline;
  line-height: 1.2;
}
.howw:hover {
  text-decoration: none;
  color: #c9c4c4;
  display: inline-block;
  position: relative;
}
.howw:after {
  content: "";
  position: absolute;
  background-color: #171717;
  width: 0;
  height: 1px;
  bottom: -10px;
  left: 0;
  margin-bottom: 10px;
}
.howw:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
  width: 100%;
  transition: 0.6s;
}

#bottom {
  margin-top: 50px;
  margin-left: 15px;
  margin-right: 15px;
}

#bottom .mail {
  height: 8vh;
  width: 100%;
  border: none;
  background-color: #f7f7f7;
  font-size: 300%;
  font-weight: 1000;
}

#hr-bottom {
  margin-left: 15px;
  margin-right: 15px;
  height: 1px;
  background-color: #030303;
  display: flex;
}

#page6 {
  height: 80vh;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  padding: 3vw 5vw;
  justify-content: space-between;
}
#page6 .elems {
  height: 100%;
  width: 30%;
  /*background-color: red;*/
}
#page6 .elems img {
  height: 50%;
  width: 90%;
  object-fit: cover;
  scale: 1;
  margin-top: 170px;
}

h6 {
  font-size: 15px;
  line-height: 0.9;
  margin-top: 250px;
  font-family: "Futura Now Headline", "Lucida Sans", Tahoma, sans-serif;
  font-weight: 700;
  margin-bottom: 16px;
  color: #868686;
}
#elem7 a {
  color: #000000;
  font-size: 15px;
  text-decoration: none;
}
#elem7 a:hover {
  color: #c9c4c4;
}

.h6 {
  margin-left: 250px;
}
#elem9 a {
  color: #000000;
  font-size: 15px;
  text-decoration: none;
  margin-left: 290px;
}
#elem9 a:hover {
  color: #c9c4c4;
}

#page6bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 250px;
  padding-right: 250px;
}

#elem10 {
  text-align: center;
  margin-bottom: 50px;
}

footer {
  padding: 10px;
}

.centered-footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.centered-footer p {
  margin: 0;
  padding: 5px;
}

.centered-footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.centered-footer li {
  margin: 0 20px;
}

.centered-footer li a {
  text-decoration: none;
  color: #333;
}

@media (max-width: 600px) {
  #nav {
    width: 100%;
    /* background-color: aqua; */
    position: fixed;
    z-index: 99;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 15px;
  }

  #nav #nav-part2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
  }

  #links {
    padding: 10px;
    display: none;
  }

  #nav-part1 {
    height: 67px;
    overflow: hidden;
  }

  #nav-part1 svg {
    display: block;
    height: 67px;
    width: 80px;
  }

  #nav #twogoodlogo {
    height: 40px;
    margin-left: -20px;
  }

  #icons {
    padding: 7px;
    border-radius: 50px;
    background-color: #f7f7f7;
  }

  #nav-part2 #icons i {
    font-size: 15px;
    margin: 0 20px;
    font-weight: 100;
  }

  #page1 {
    min-height: 70vh;
    width: 100%;
    padding: 0 3vw;
    padding-top: 25vh;
  }
  #page1 h1 {
    font-size: 15.5vw;
    letter-spacing: -3px;
  }

  #video-container {
    height: 25vh;
    margin-top: 3vw;
  }
  #video-container #play {
    padding: 9.5vw 7.2vw;
    font-size: 4.5vw;
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 1;
    scale: 1;
    transform: translate(-50%, -50%);
  }

  #page2 {
    min-height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    padding: 5vw 3vw;
    flex-direction: column;
    justify-content: space-between;
  }

  #page2 .elem {
    height: 100vh;
    width: 100%;
    /*background-color: red;*/
    overflow: hidden;
    margin-bottom: 3vw;
  }

  #page2 .elem .dets {
    height: 40px;
    border-radius: 50px;
    width: 70%;
    position: absolute;
    z-index: 9;
    background-color: palegoldenrod;
  }
  #page3 {
    min-height: 120vh;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }

  .child {
    height: 54vh;
    width: 88vw;
    /*background-color: red;*/
    position: relative;
    padding: 10vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .child img {
    height: 100%;
  }
}
